*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.cabecera{
    width: 100%;
    height: 90px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.nav{
    width: 100%;
    height: 22px;
    background-image: url(./cenefa2.jpg);
}
h1{
    font-size:90px;
    color: black;
    font-weight: bolder;
    font-family: 'Acme', sans-serif;
    border: black;
}
.descripcion {
    width: 100%;
    height: 350px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-content:center;
    padding: 40px;
}
.text{
    width: 50%;
    padding-top: 0px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 60px;
}
.text__cabecera{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 30px;
    background-color: beige;
    padding-top: 0px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid black;
}
.text__body{
    padding: 15px;
}
.mundo{
    width: 500px;
    height: 250px;
    box-shadow: 25px 25px 50px #1b1c1b;
}
.separador{
    background-color: lightgray;
    width: 90%;
    height: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5%;
}
.eslogan{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 3% 10% 1% 10%;
    font-size: xxx-large;
    background-color: beige;
    width: 80%;
    height: 80px;
    border-radius: 15px;
    border: 1px solid black;
}
p {
    font-family: 'Acme', sans-serif; 
}
h3{
    font-family: 'Acme', sans-serif; 
}
.container {
    width:100%;
    height: 650px;
    padding-top: 40px;
    position:absolute;
    display: flex;
    justify-content: center;

}
.card {
    width: 30%;
    height: 100%;
    padding: auto;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow: 25px 25px 50px #1b1c1b;
    border:  1px solid black;
}
.card__container {
    padding: 30px;
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.card__content {
    width: 100%;
    height: 95%;
    border-radius: 30px;
}
.card__header {
    font-size: xx-large;
    width: 100%;
    height: 100px;
    color: black;
    background-color: beige;
    border-radius: 20px 20px 0 0 ;
    border-bottom:  1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;    
}
.card__info{
    padding: 20px;
    height: 90%;
    font-size: large;
    text-align: left;
    font-family: 'Acme', sans-serif;
}
.destino{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
}
.form{
    margin-top: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: lightgray; 
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
} 
.form__separador{
    background-color: lightgray;
    width: 90%;
    height: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.formulario{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;

}
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
button{
    height: 45px; 
    padding-left: 8px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: black; 
    border-color: black; 
    border-style: solid; 
    border-radius: 10px;  
    width: 200px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;;   
    cursor: pointer;
}
.mostrar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 20px;
}

